@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Schoolbell&display=swap');
/* CSS Variables */

:root {
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Schoolbell", cursive;
}

/* Apply global styles to all elements, resetting default spacing and ensuring consistent box-sizing */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "montserrat", sans-serif;
}

/* Body Styling */
body {
    width: 100%;
    height: 100vh;
    /* Background settings */
    background: url(../images/background.webp)#222e3a; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    /* Flexbox properties to center content */
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

/* Apply Secondary Font to Headings */
h1, h2, h3 {
    font-family: var(--secondary-font);
    color: azure;
    text-transform: uppercase;
}